/* CSS Variables for consistent theming */
:root {
  --primary-color: #d80000;
  --primary-dark: #A00000;
  --primary-darker: #760000;
  --sidebar-width: 260px;
  --text-light: #ffffff;
  --text-dark: #333333;
  --bg-light: #F0F0F0;
  --transition-speed: 0.3s;
}

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: var(--sidebar-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}

.name {
  background-color: #140000;
  font-family: serif;
  font-weight: bold;
}

.name img {
  border-radius: 50%;
  width: 100px;
  height: 120px;
  padding: 13px 65px 7px 70px;
  vertical-align: middle;
}

/* Style sidebar links */
.sidebar a {
  padding: 15px 8px 17px 50px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  font-family: sans-serif;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: black;
  background-color: #f1f1f1;
}

._1 {
  background-color: #270000;
}

._2 {
  background-color: #3b0000;
}

._3 {
  background-color: #4e0000;
}

._4 {
  background-color: #620000;
}

._5 {
  background-color: #760000;
}

._6 {
  background-color: #b10000;
}

/*Social Icons*/
.social_icons {
  background-color: var(--primary-color);
}

.social-icons-center {
  text-align: center;
}

.social_icons a {
  display: inline-block;
  padding-left: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 12px;
  font-size: 15px;
  transition: transform var(--transition-speed);
}

.social_icons a:hover {
  transform: scale(1.2);
}

/* Home */
.home {
  margin: -10px 0px 0px 240px;
  /* Same as the width of the sidenav */
  /* Full height */
  min-height: 700px;
  width: calc(100% - var(--sidebar-width));
  max-width: 1200px;

  /* Center and scale the image nicely */
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hello {
  color: white;
  font-size: 50px;
  padding-left: 50px;
  padding-top: 120px;
  font-family: sans-serif;
}

.me {
  color: white;
  font-size: 100px;
  padding-left: 50px;
  font-family: sans-serif;
  font-weight: bolder;
  padding-bottom: 0px;
}


.blink {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  to {
    opacity: .0;
  }
}

.flex {
  display: flex;
}

.header-sub-title {
  color: #fff;
  font-family: sans-serif;
  font-size: 25px;
  padding-top: -5px;
  padding-left: 50px;
  letter-spacing: 8px;
}

.icons {
  padding-top: 50px;
}

.icons a {
  color: white;
  padding-left: 50px;
  font-size: 30px;
}

/*Buttons */
.learn {
  padding-left: 50px;
  padding-top: 30px;
}

.btn {
  border: 5px solid red;
  background-color: transparent;
  color: red;
  padding: 14px 28px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 5px;
}

.default {
  border-color: #e7e7e7;
  color: var(--text-light);
  transition: all var(--transition-speed);
}

.default:hover {
  background: var(--primary-darker);
  border-color: var(--primary-darker);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.aboutme {
  padding-left: 300px;
  padding-right: 100px;
  min-height: 500px;
  padding-bottom: 50px;
}

/* Professional Experience Styling */
.experience {
  margin-top: 30px;
}

.experience-list {
  margin-left: 20px;
  line-height: 1.8;
  font-family: sans-serif;
  font-size: 16px;
}

.role-details {
  margin: 5px 0;
  font-size: 16px;
}

.tech-stack {
  margin: 5px 0 10px 0;
  font-size: 14px;
  color: var(--primary-darker);
}

.duration {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}

.about {
  font-size: 40px;
  font-family: sans-serif;
}

.info {
  font-family: sans-serif;
  font-size: 18px;
}

.heading {
  padding-top: 30px;
  color: var(--primary-darker);
  font-size: 30px;
}

.Desc h4 {
  margin-bottom: 5px;
  font-family: sans-serif;
}

.skills {
  padding-left: 300px;
  padding-right: 100px;
  min-height: 500px;
  background-color: var(--bg-light);
  margin-right: -7px;
  padding-bottom: 50px;
}

.skills h2 {
  font-size: 40px;
  font-family: sans-serif;
  padding-top: 30px;
}

/* ===== SKILLS =====*/
.skills__container {
  grid-row-gap: 2rem;
  text-align: center;
}

.skills__text {
  margin-bottom: var(--mb-4);
  padding-bottom: 20px;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--primary-color);
}

.skills__names img {
  margin-right: 10px;
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.portfolio {
  padding-left: 300px;
  padding-right: 50px;
  min-height: 600px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("../img/work6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.portfolio img{
  height: 125px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--transition-speed);
}

.portfolio img:hover {
  transform: scale(1.05);
}

.project-title {
  text-align: center;
  margin: 10px 0 5px 0;
}

.project-title a {
  text-decoration: none;
  color: var(--text-dark);
  transition: color var(--transition-speed);
}

.project-title a:hover {
  color: var(--primary-color);
}

.project-desc {
  text-align: center;
  font-size: 14px;
  color: #666;
  font-family: sans-serif;
  padding: 0 10px;
}

.portfolio h2 {
  font-size: 40px;
  font-family: sans-serif;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row>.column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.resume {
  padding-left: 300px;
  padding-right: 100px;
  min-height: 790px;
  background-color: var(--bg-light);
  background-image: url("leaves.gif");
  margin-right: -7px;
  padding-bottom: 50px;
}

.resume h2 {
  font-size: 40px;
  font-family: sans-serif;
  padding-top: 30px;
}

.contact {
  padding-left: 300px;
  padding-right: 100px;
  min-height: 500px;
  padding-bottom: 50px;
}

.con_head {
  font-size: 40px;
  font-family: sans-serif;
  padding-bottom: -10px;
}

.con_sub {
  font-family: sans-serif;
  font-size: 15px;
}

.row_1 a {
  padding: 15px 20px 30px 100px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: inline-block;
  font-family: sans-serif;
}

.row_2 a {
  padding: 15px 20px 30px 100px;
  text-decoration: none;
  font-size: 30px;
  color: black;
  display: inline-block;
  font-family: sans-serif;
}

.button {
  background-color: var(--primary-dark);
  border: 1px;
  color: var(--text-light);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 55px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: all var(--transition-speed);
  border-radius: 10px;
}

.button:hover {
  background-color: var(--primary-color);
  transform: scale(1.1);
}

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: var(--primary-color);
  /* Set a background color */
  color: var(--text-light);
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 50%;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  transition: all var(--transition-speed);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

#myBtn:hover {
  background-color: var(--primary-dark);
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.footer {
  padding-left: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: var(--text-light);
  width: calc(100% - 280px);
  max-width: 1200px;
  font-size: 15px;
  font-family: sans-serif;
  overflow: hidden;
  background-image: url("leaves.gif");
}

.footer-content {
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
}


@media only screen and (max-width: 1000px) {
  .sidebar {
    width: 0px;
  }

  .home {
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    min-height: 1200px;
  }

  .hello {
    padding-left: 80px;
    padding-top: 200px;
    font-size: 70px;
  }

  .me {
    padding-left: 80px;
    font-size: 120px;
  }

  .header-sub-title {
    padding-left: 80px;
    font-size: 40px;
  }

  .icons a {
    padding-left: 100px;
    font-size: 100px;
  }

  .learn {
    padding-top: 60px;
    padding-left: 80px;
  }

  .learn .btn {
    font-size: 50px;
  }

  .aboutme {
    padding: 0px 0px;
    width: 100%;
    height: 1400px;
  }

  .about {
    padding-left: 60px;
    font-size: 100px;
  }

  .info {
    padding-left: 60px;
    font-size: 40px;
  }

  .heading {
    padding-left: 80px;
    font-size: 100px;
  }

  .Desc {
    padding-left: 80px;
    font-size: 30px;
  }

  .skills {
    padding-left: 80px;
    width: 100%;
    height: 1000px;
    margin-left: -10px;
  }

  .skills h2 {
    font-size: 100px;
  }

  .skills__text {
    font-size: 40px;
    padding-bottom: 40px;
  }

  .skills__data {
    font-size: 80px;
  }

  .portfolio {
    padding: 0px 0px;
    width: 100%;
    height: 1700px;
  }

  .portfolio h2 {
    padding-left: 80px;
    font-size: 100px;
  }

  .content img {
    padding-left: 80px;
    height: 500px;
  }

  .content h3 {
    font-size: 70px;
    padding-left: 80px;
  }

  .column {
    width: 100%;
  }

  .resume h2 {
    padding-left: 80px;
    font-size: 100px;
  }

  .resume {
    padding: 0px 0px 0px 0px;
    height: 1100px;
    margin-left: -10px;
    margin-right: -170px;
  }

  .contact {
    padding: 0px 0px;
    width: 100%;
  }

  .contact h2 {
    font-size: 100px;
    padding-left: 80px;
  }

  .contact h6 {
    font-size: 50px;
    padding-left: 80px;
  }

  .row_1 a {
    font-size: 80px;
  }

  .row_2 a {
    font-size: 80px;
  }

  .button {
    width: 200px;
    height: 200px;
  }

  .footer {
    margin-left: -10px;
    padding: 20px 0px;
    width: 100%;
    margin-top: 1000px;
    font-size: 50px;
  }

  #myBtn {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .home {
    width: calc(100% - var(--sidebar-width));
    max-width: 1400px;
  }

  .footer {
    margin-left: 240px;
    padding: 20px 0px;
    width: calc(100% - 240px);
    max-width: 1400px;
  }
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Link hover effects */
a {
  transition: all var(--transition-speed);
}

/* Accessibility improvements */
*:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}